/* CSS on top of Bootstrap - Jon Brown - Nov 2014 */

.table-striped { /* Make table take up much less space */
  width: 50%;
}

td { /* JB */
  text-align: right;
}

table thead tr th { /* JB */
  text-align: right;
}

/* Dividend colours */

.dateMatch {
  color: blue;
  font-weight: bold;
}

.dateNoMatch {
/* Nothing special */
}

/* Stock movement colours */

.bigDown {
  color: red;
  font-weight: bold;
  background: yellow;
}

.bigUp {
  color: green;
  font-weight: bold;
  background: yellow;
}

.priceDown {
  color: red;
}

.priceUp {
  color: green;
}

.unchanged {
  color: blue;
}

.refresh {
  background: none;
  border: none;
}

.location { /* JB 11 DEC 2014 */
  background: none;
  border: none;
}

.camera { /* JB 11 DEC 2014 */
  background: none;
  border: none;
}

.update { /* Simple x for update */
  background: none;
  border: none;
}

.delete { /* Simple x for delete */
  background: none;
  border: none;
}

/* Heatmap 14 Jan 2015 - 9 colour range */
/* Font-size is required to compensate for a bug in the table logic (the workaround of which means setting the font to 1px) */

.HeatUp3 {
  background: #00B050;
  font-size: medium;
}

.HeatUp2 {
  background: #92D050;
  font-size: medium;
}

.HeatUp1 {
  background: #CCFF99;
  font-size: medium;
}

.HeatUp0 {
  background: #DEFF81;
  font-size: medium;
}

.HeatFlat {
  background: white;
  font-size: medium;
}

.HeatDn0 {
  background: #FFCC99;
  font-size: medium;
}

.HeatDn1 {
  background: #F9AB6B;
  font-size: medium;
}

.HeatDn2 {
  background: #F7633B;
  font-size: medium;
}

.HeatDn3 {
  background: red;
  font-size: medium;
}
